* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdf3e5;
}

.logo {
    width: 100px;
    
}

/* header {
    display: flex;
    z-index: 2;
    justify-content: space-evenly;
    background-color: #6876ce;
    align-items: center;
    padding: 10px 10%;
    position: sticky;
    top: 0;
} */

footer{
    
    padding: 22px;
    border-top: #6876ce 1px solid;
}

li {
    list-style: none;
}

.bg {
    background-color: #6876ce !important;
}

a {
    color: #fdf3e5;
    font-size: 20px;
    font-weight: 250px;
    text-decoration: none;
    cursor: pointer;
}

.menu li {
    display: inline-block;
    padding: 20px;
    
}

h1 {
    margin: 40px 20px;
    text-align: center;
}

h2 {
    margin: 10px;
    text-align: center;
}





/* HOME */





main h1{
    text-align: center;
    margin-top: 40px;
}

main h2{
    text-align: center;
    margin-top: 40px;
}


.contenedorImagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imgCeluCompu {
    width: 900px;
    margin-top: 50px;
    height: auto;
    max-width: 100%; 
}

.imgCeluCompu2 {  
    width: 900px;
    margin-bottom: 30px;
    height: auto;
    max-width: 100%; 
}





/* QUIENES SOMOS */





.contenedorQS{
    border: #6876ce 2px solid;
    width: 800px;
    height: 190px;
    border-radius: 14px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.contenedorQS p {
    text-align: center;
}

.imagenesQS {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personas {
    margin: 100px 80px 80px 80px;
}

.premios {
    margin: 80px 80px 100px 80px;
    width: 1000px;
}





/* NUESTROS */





.contenedorTrabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
}

.contenedorTrabajos img {
    margin-top: 20px;
    border: black 2px solid;
    margin-bottom: 50px;
    cursor: pointer;
}





/* ESTUDIA */





.contenedorEstudiaConNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.contenedorEstudiaConNosotros img{

    padding: 20px;
}

.contenedorEstudiaConNosotros h3{

    cursor: pointer;
}





/* CONTACTO */





form {
    margin: 50px 25px 20px 60px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
    color: #6876ce;

}

input, textarea {
    display: block;
    width: 98%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 12px;
}

.botonForm {
    background-color: #6876ce;
    color: #fdf3e5;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 35px;
    cursor: pointer;
}



.mapa {
    margin-top: 70px;
    text-align: center;
}


.contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.contacto1 {
    width: 120px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contacto2 {
    width: 190px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contacto3 {
    width: 100px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}



/* RESPONSIVE CON MEDIA QUERIES */

